<div class="card px-0">
  <div class="card-header border-0 text-uppercase">
    <i class="fa-light fa-chart-mixed"></i>
    <span class="ms-2">Stats</span>
  </div>
  <div class="card-body">
  	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Types</th>
	      <th scope="col">#</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Posts</td>
	      <td>25</td>
	    </tr>
	    <tr>
	      <td>Authors</td>
	      <td>12</td>
	    </tr>
	    <tr>
	      <td>Larry the Bird</td>
	      <td>21</td>
	    </tr>
	  </tbody>
	</table>
  </div>
</div>
{{yield}}