<footer class="bg-secondary mt-5 border-top border-primary pt-5 pb-4 mb-0">

	<div class="container">
		<div class="row">
			<div class="col-md small">
				<p class="text-black small text-center text-lg-start fw-light">
					<a href="https://wildfiretech.co">
						<img width="120" src="/assets/img/logo-wildfire.png">
					</a>
					<br><br>
					<span>Made with <span class="fa-light text-danger fa-heart"></span> <em>for</em> <span class="text-danger">{{@schema.headmeta_title}}</span>.</span>
					<br>
					Wildfire is a digital tech consultancy based in Gurugram, India.
					<br>
					&copy;2020 - {{this.yearNow}}
				</p>
			</div>
			
			<div class="col-md pt-4 small">
				<ul class="list-unstyled small text-center text-lg-end fw-light">
					<li class=""><a class="text-decoration-none text-dark" href="mailto:tech@wildfire.world" title="">Report a bug</a></li>
					<li class=""><a class="text-decoration-none text-dark" href="mailto:hq@wildfire.world" title="">Feature suggestion</a></li>
					<li class=""><a class="text-decoration-none text-dark" href="mailto:info@wildfire.world" title="">Get in touch</a></li>
					<li class=""><a class="text-decoration-none text-dark" href="https://wildfiretech.co" title="">Data privacy</a></li>
					<li class=""><a class="text-decoration-none text-dark" href="https://wildfiretech.co" title="">Energy policy</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
{{yield}}