<div class="fs-2 text-uppercase fw-normal mt-0 pt-4 pb-3 text-center border-bottom border-dark border-2 bg-info-flame">
	<i class="{{@iconclass}} text-dark"></i>
  	<span class="d-inline-block text-dark ps-1">{{@pagetitle}}</span>
</div>
{{yield}}