<div class="card px-0 shadow border-dark">
  <div class="card-header border-0 text-uppercase">
    <i class="{{@iconclass}}"></i>
    <span class="ms-1">{{@pagetitle}}</span>
  </div>
  <div class="card-body">
  	{{yield}}
  </div>
</div>