<div class="card px-0 shadow border-dark">
  <div class="card-header border-0 text-uppercase">
    <i class="fa-light fa-circle-dashed"></i>
    <span class="ms-1">Placeholder</span>
  </div>
  <div class="card-body">
  	<p class="placeholder-wave">
	  <span class="placeholder col-12"></span>
	  <span class="placeholder col-8"></span>
	  <span class="placeholder col-12"></span>
	  <span class="placeholder col-4"></span>
	</p>
  </div>
</div>
{{yield}}