<footer class="mt-auto bg-secondary border-top border-dark pt-5 pb-4 mb-0">

	<div class="container">
		{{#unless (eq this.hidePostcodeAttribution "true")}}
		<div class="row">
			<div class="col-md small">
				<p class="text-black small text-center text-lg-start fw-light">
					<span>This is <span class="fw-bold text-dark"><em><%= classifiedPackageName %></em></span>. Built and maintained with <span class="text-dark"><i class="fa-solid fa-heart"></i></span> at <span class="fw-bold"><em><a href="https://wildfiretech.co" class="text-dark" target="_blank" rel="noopener noreferrer">Postcode</a></em></span>.</span>
					<br>
					Postcode Solutions Private Limited is a digital tech consultancy based in Gurugram, India.
					<br>
					&copy;2022 - {{this.yearNow}}
				</p>
			</div>
			
			<div class="col-md small">
				<ul class="list-unstyled small text-center text-lg-end fw-light">
					<li><a class="text-dark" href="mailto:info@wildfire.world" title="">Report a bug, Suggest a feature or Get in touch</a></li>
					<li><a class="text-dark" href="https://wildfiretech.co" title="">Data privacy and Energy policy</a></li>
				</ul>
			</div>
		</div>
		{{/unless}}
	</div>
</footer>
{{yield}}