<div class="form-check form-switch">
  <Input class="form-check-input" @type={{@module.input_type}} @value={{true}} role="switch" id="flexSwitchCheckDefault" />
  <label class="form-check-label" for="flexSwitchCheckDefault">{{@module.input_placeholder}}</label>
</div>
