<div class="mb-5 d-flex align-items-center justify-content-start">
	<div class="mx-n1"><XToggle @value={{get @object @module.input_slug}} @onToggle={{mut (get @object @module.input_slug)}} /></div>
	<div class="form-text text-end text-dark ms-4">{{@module.input_placeholder}}</div>
</div>