<div class="w-100 mb-3">
	<div class="border border-1 border-dark w-100 py-3 px-n3" id={{concat @type.slug "-" @module.input_slug "-" @id}} {{did-insert this.initEditor}}></div>
  	<div class="form-text text-end text-dark">{{@module.input_placeholder}}</div>
</div>
