<div class="mb-3">
	<div class="form-control border-dark" id="typeout-content" contenteditable="true">{{mut (get @object @module.input_slug)}}</div>
	<div class="form-text text-end text-dark">{{@module.input_placeholder}}</div>
</div>