<Input @value={{@value}} @type={{@module.input_type}} class="form-control border-dark" placeholder={{@module.input_placeholder}} />
<div class="form-text text-end text-dark">{{@module.input_placeholder}}</div>
