<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <title><%= classifiedPackageName %></title>
    <meta name="description" content="Frame your data.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="{{rootURL}}manifest.webmanifest">
    <meta name="msapplication-config" content="{{rootURL}}browserconfig.xml">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/<%= dasherizedPackageName %>.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/fontawesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.1.2/tinymce.min.js"></script>

    {{content-for "head-footer"}}
  </head>
  <body style="overflow-x: hidden;">
    <div class="vh-100 w-100 d-flex align-items-center justify-content-center" id="loading">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    {{content-for "body"}}

    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/js/all.min.js"></script>
    <script src="https://unpkg.com/@root/passphrase"></script>
    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/<%= dasherizedPackageName %>.js"></script>
    <script>
    document.addEventListener('focusin', (e) => {
      if (e.target.closest(".tox-tinymce-aux, .moxman-window, .tam-assetmanager-root") !== null) {
        e.stopImmediatePropagation();
      }
    });
    </script>

    <script>
      window.intercomSettings = {
        api_base: "https://api-iam.intercom.io",
        app_id: "z4829flu",
        user_id: 'A4989E', // IMPORTANT: Replace "user.id" with the variable you use to capture the user's ID
        name: 'Akshay M.', // IMPORTANT: Replace "user.name" with the variable you use to capture the user's name
        email: 'cityowl@hey.com', // IMPORTANT: Replace "user.email" with the variable you use to capture the user's email address
        created_at: '1715262361', // IMPORTANT: Replace "user.createdAt" with the variable you use to capture the user's sign-up date
      };
    </script>


    <script>
      // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/z4829flu'
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/z4829flu';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>

    {{content-for "body-footer"}}
  </body>
</html>
