<nav aria-label="Page navigation example">
  <ul class="pagination border border-1 border-dark justify-content-center" style="overflow-x:scroll">
    <li class="page-item disabled">
      <div class="page-link bg-secondary text-light"><FaIcon @icon="chevrons-left" /></div>
    </li>
    {{#each this.pageLinks as |pageNumber|}}
    	<li class="page-item">
    		<div class="page-link bg-secondary text-dark">{{pageNumber}}</div>
    	</li>
    {{/each}}
    <li class="page-item">
      <div class="page-link bg-secondary text-dark"><FaIcon @icon="chevrons-right" /></div>
    </li>
  </ul>
</nav>