@import url("https://use.typekit.net/irr0nqg.css");

$font-family-sans-serif: "Museo Sans", sans-serif !default;
$display-font-family: "Museo Sans Display", sans-serif !default;

$primary: #41b3ff !default;
$secondary: #e1b582 !default;
$success: #81ae86 !default;
$info: #fe7f2d !default;
$warning: #fcca46 !default;
$danger: #bb3324 !default;
$light: #fff8f0 !default;
$dark: #021724 !default;

$enable-caret: false !default;
$enable-rounded: false !default;
$enable-gradients: false !default;
$enable-cssgrid: true !default;
$enable-negative-margins: true !default;
$enable-smooth-scroll: true !default;

$modal-backdrop-opacity: 0.8;

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 9,
  9: $spacer * 12,
  10: $spacer * 18,
) !default;

// scss-docs-start position-map
$position-values: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%,
) !default;
// scss-docs-end position-map

$ember-power-select-border-radius: 0;
$ember-power-select-background-color: none !default;

@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
@import "node_modules/animate.css/animate";
@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "Subway Ticker";
  src:
    url("/assets/fonts/SubwayTicker/SubwayTicker.woff2") format("woff2"),
    url("/assets/fonts/SubwayTicker/SubwayTicker.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.subway {
  font-family: "Subway Ticker";
}

.page-loading {
  height: 100vh;
  width: 100vw;
}

.above-footer {
  min-height: calc(100vh - 300px);
}

.nav-link.active {
  background-color: var(--bs-primary);
}

small {
  line-height: 1.7em;
}

.text-ellipsis {
  line-height: 1.12;
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.slug-ellipsis {
  line-height: 0.9;
  font-size: 0.7em;
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.types-data-table tbody tr {
  height: 6em;
}

.types-data-table thead tr {
  height: 3em;
}

.codex-editor__redactor {
  padding-bottom: 80px !important;
}

.ce-toolbar__content,
.ce-block__content {
  max-width: unset;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.page-link {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  overscroll-behavior: contain;
}

.table > :not(caption) > * > * {
  background-color: rgba(0, 0, 0, 0);
}

.ce-inline-tool--link:nth-child(even)::after {
  content: "🔗";
  margin-left: -17px;
  font-size: 14px;
}

.in-modal-dropdown {
  z-index: 1057;
}

.json-key {
  color: var(--bs-primary);
  font-weight: bolder;
}

.json-link {
  color: var(--bs-secondary);
  text-decoration: underline;
}

.json-mark {
  color: var(--bs-gray-600);
}

.ember-power-select-placeholder {
  margin-left: 2px;
}

@include color-mode(dark) {
  .ember-power-select-options {
    background-color: var(--bs-light);
  }
  .ember-power-select-dropdown {
    color: var(--bs-dark);
  }
  .ember-power-select-placeholder {
    color: var(--bs-gray-300);
  }
}

@include color-mode(light) {
  .ember-power-select-options {
    background-color: var(--bs-light);
  }
  .ember-power-select-dropdown {
    color: var(--bs-dark);
  }
  .ember-power-select-placeholder {
    color: var(--bs-gray-600);
  }
}

table tbody th {
  cursor: pointer;
}

@include color-mode(dark) {
  .ce-popover__container {
    background-color: var(--bs-dark);
  }

  .ce-toolbar__plus,
  .ce-toolbar__settings-btn,
  .ce-popover-item__title,
  .ce-popover-item__icon {
    color: var(--bs-light);
  }

  .cdx-search-field.ce-popover__search {
    background-color: #1e293b4d;
    border-color: var(--bs-light);
  }

  .cdx-search-field__input {
    color: var(--bs-light);
  }

  .cdx-block,
  .ce-block {
    color: var(--bs-light);
  }

  .ce-inline-tool,
  .ce-inline-toolbar,
  .ce-conversion-tool__icon,
  .ce-popover-item__icon,
  .tc-popover__item-icon {
    color: var(--bs-light);
    background-color: var(---bs-primary);
    border-color: var(--bs-light);
  }

  .ce-popover,
  .ce-conversion-toolbar,
  .ce-inline-toolbar,
  .tc-popover {
    background-color: var(---bs-primary);
    border-color: var(--bs-light);
    box-shadow: 0 3px 15px -3px var(--bs-light);
  }

  .ce-inline-tool:hover,
  .ce-inline-toolbar__dropdown:hover,
  .ce-toolbar__plus:hover,
  .ce-toolbar__settings-btn:hover,
  .ce-conversion-tool:hover,
  .ce-popover-item:hover {
    background-color: var(--bs-primary);
  }

  *::selection,
  .ce-block.ce-block--selected .ce-block__content {
    background-color: var(--bs-primary);
  }

  .ce-popover__items {
    scrollbar-color: var(--bs-light) var(--main);
  }
  /* table class wrapper */
  .tc-wrap,
  .tc-wrap * {
    --color-border: var(--bs-light);
    --color-text-secondary: var(--bs-light);
    --color-background: var(--bs-primary);
    --toggler-dots-color: var(--bs-primary);
    --toggler-dots-color-hovered: var(--bs-light);
  }

  @media (max-width: 650px) {
    .ce-toolbar__settings-btn,
    .ce-toolbar__plus {
      background-color: var(---bs-primary);
      border-color: var(--bs-light);
      box-shadow: 0 3px 15px -3px var(--bs-light);
    }
  }
}

.x-toggle:checked + label > .x-toggle-ios.x-toggle-btn {
  background-color: var(--bs-primary) !important;
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wobble {
  animation: wobble 0.25s infinite;
  cursor: move;
}

.min-width-primary-module {
  min-width: 300px;
  max-width: 70vw;
}
