.page-loading {
	height: 100vh;
	width: 100vw;
}

.above-footer {
	min-height: calc(100vh - 300px);
}

.bg-primary-flame {
	background: linear-gradient(0deg, rgba(153,51,153,1) 0%, rgba(255,51,153,1) 100%);
  	background-color: rgba(0, 0, 0, 0);
  	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
}

.bg-info-flame {
	background: linear-gradient(0deg, rgba(255,0,102,1) 0%, rgba(255,0,51,1) 100%);
  	background-color: rgba(0, 0, 0, 0);
  	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
}