{{page-title "Types"}}

<div class="above-footer">

	<Header @webapp={{this.types.json.modules.webapp}} />

	<main class="flex-shrink-0 page a4 d2" style="min-height:75vh">
		
		<div class="container-xxl mx-auto px-0">
			<PageSummaryCard />
		</div>

	</main>

	<Footer @webapp={{this.types.json.modules.webapp}} />

</div>

{{outlet}}