<div class="w-100 mb-3">
  <div
    class="border border-1 w-100 py-3 px-n3"
    id="{{concat @type.slug '-' @module.input_slug}}"
  ></div>

  <div class="d-flex justify-content-end">
    <div class="form-text text-end">
      {{if
        @module.input_placeholder
        @module.input_placeholder
        (concat "Enter " @module.input_slug)
      }}
    </div>
  </div>
</div>

{{this.onload @module.input_slug}}
