{{! Modal }}
<div
  class="modal fade"
  id="blueprintConsultationModal"
  tabindex="-1"
  aria-labelledby="blueprintConsultationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fst-italic fs-5"
          id="blueprintConsultationModalLabel"
        ><i class="fa-solid fa-circle-info"></i> Implementation Summary</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{{this.types.json.modules.webapp.implementation_summary}}}
      </div>
      <div
        class="modal-footer d-flex align-items-center justify-content-end p-0"
      >
        <div class="d-flex align-items-center justify-content-end">
          <button
            type="button"
            data-bs-dismiss="modal"
            data-bs-target="#blueprintAIPromptModal"
            data-bs-toggle="modal"
            class="btn btn-outline-primary ms-2"
          >Edit your project description</button>
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-primary ms-2"
          >Start now &rarr;</button>
        </div>
      </div>
    </div>
  </div>
</div>