<div class="overflow-x-scroll">
	<table class="table table-striped types-data-table listable-modules-{{this.countListableModules}}">
		{{yield}}
	</table>
</div>

{{!-- This is used only for editing multiple records --}}
<Types::EditObjectModal @multiEdit={{true}} />
