<div style="overflow-x:scroll">
	<table class="table table-striped types-data-table listable-modules-{{this.countListableModules}}">
		{{yield}}
	</table>
</div>

<Types::EditObjectModal @multiEdit={{true}} />