{{!-- Modal --}}
<div class="modal fade" id="newModuleModel" tabindex="-1" aria-labelledby="newModuleModelLabel" aria-hidden="true" {{did-insert this.initModel}}>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newModuleModelLabel"><i class="fa-solid fa-plus"></i> New Module</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3 align-items-start my-3 pb-3">
      <div class="my-1 py-0 col-12 col-md-2">
        <label class="fst-italic col-form-label fw-bold">field name</label>
      </div>
      <div class="my-1 col-12 col-md-7">
        <Input @type="text" @value={{this.moduleName}} class="form-control" placeholder="Eg. Body or publishing date or description" />
      </div>
      <div class="my-1 col-12 col-md-3">
        <span class="form-text">Please give a name to the input field</span>
      </div>
    </div>
      </div>
      <div class="modal-footer p-1 d-flex align-items-center justify-content-between">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close without saving</button>
        <button type="button" {{on 'click' this.save}} class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
