<thead>
<tr class="border-dark border-start border-bottom border-top border-end border-2 bg-white fs-6 fst-italic">
  <th scope="col" class="min-width-id-module">
    <span>ID</span>
    <FaIcon @icon="caret-down" />
  </th>
  {{#each @type.modules as |module|}}
    {{#if module.list_field}}
      <th scope="col" class="{{if module.input_primary "min-width-primary-module"}}">
        <span>{{module.input_slug}}</span>
        {{#if module.list_sortable}}
          <span class="d-none"><FaIcon @icon="caret-down" /></span>
        {{/if}}
      </th>
    {{/if}}
  {{/each}}
</tr>
</thead>