<tr class="border-dark">
  <th class="border-0 border-dark" scope="row"></th>

  {{#each @type.modules as |module|}}
    {{#if module.list_field}}

      {{#if module.input_primary}}
        <td class="position-relative border-0 border-dark"><div
            class="w-100 py-5 text-center fw-bold fst-italic"
          >Loading...</div></td>
      {{else}}
        <td class="position-relative border-0 border-dark"></td>
      {{/if}}

    {{/if}}
  {{/each}}
</tr>