{{! Modal }}
<div
  class="modal fade"
  id="blueprintAIPromptModal"
  tabindex="-1"
  aria-labelledby="blueprintAIPromptModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fst-italic fs-5"
          id="blueprintAIPromptModalLabel"
        >Project Description</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <Textarea
          @value={{this.blueprints.projectDescription}}
          class="form-control w-100 border-primary"
          rows="7"
          placeholder="Write a prompt to describe your project in a few sentences ..."
        />
        {{#if this.tryAgain}}
          <div class="alert alert-warning my-2" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i>
            Error in response. Please try submitting again. If problem persists,
            try editing your prompt slightly.
          </div>
        {{/if}}
      </div>
      <div
        class="modal-footer d-flex align-items-center justify-content-end p-0"
      >
        <div class="d-flex align-items-center justify-content-end">
          {{#if (gte this.blueprints.projectDescription.length 20)}}
            <button
              {{on "click" this.blueprints.getAI}}
              type="button"
              class="btn btn-primary ms-2"
            >Set up Junction &rarr;</button>
          {{else}}
            <button
              type="button"
              disabled
              class="btn btn-{{this.colormodes.mode}} ms-2"
            >Set up Junction &rarr;</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>