{{page-title "Index"}}

<main>
	<h1 class="my-5 text-uppercase text-center">
		Junction
	</h1>

	<h1 class="my-5 text-uppercase text-center">
		{{@model.schema.headmeta_title}}
	</h1>
</main>

{{outlet}}