{{page-title "Dashboard"}}

<PageHeading @iconclass="fa-light fa-gauge-high" @pagetitle="Dashboard" />

<div class="container">

	<div class="row mt-3 row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

		<div class="col"><DashboardSummaryCard @types={{@model.modules}} /></div>
		<div class="col"><PlaceholderCard /></div>
		<div class="col"><PlaceholderCard /></div>
		<div class="col"><PlaceholderCard /></div>
		<div class="col"><PlaceholderCard /></div>
		<div class="col"><PlaceholderCard /></div>
		<div class="col"><PlaceholderCard /></div>
	</div>

</div>

{{outlet}}